# build instance
build/
docs/_build/

# python instance
__pycache__
*.pyc
*.mypy_cache/

# mac extras
.DS_Store

# dev extras
.vscode/
.venv/
.python-version

# gym extras
gym/f110_gym/unittest/maps/
gym/f110_gym/unittest/centerline/
gym/f110_gym.egg-info
flycheck_*

